<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showCancelledBookings</key>
	<true/>
	<key>bookingRemindersEnabled</key>
	<true/>
	<key>developerModeEnabled</key>
	<false/>
	<key>simulateReviewEligibility</key>
	<false/>
	<key>testNotificationsEnabled</key>
	<false/>
	<key>settingsVersion</key>
	<string>2026.06.30</string>
</dict>
</plist>
